<section id="biography">
    <div class="container">
        <div class="row">
            <!-- Image Column -->
            <div class="col-sm-12 col-md-6 col-lg-5">
                <a href="" class="portfolio-box">
                    <img src="img/profile_picture.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">

                            <div class="project-name">
                                Philipp Alexander Kreer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Text Column -->
            <div class="col-sm-12 col-md-6 col-lg-7 text-center">
                <div class="block-text">
                    <h2 class="section-heading">Philipp Alexander Kreer</h2>
                    <hr class="primary">
                    <p class="text-faded_2">
                        Interdisciplinary Ph.D. researcher in theoretical physics at the Technical University of Munich and APART Research Fellow in AI alignment.
                    </p>
                    <p class="text-faded_2">
                        I commit my work to advance science and to improve our lives by aligning AI systems with human goals and values. I carry out my mission with:
                    </p>
                    <p class="text-faded_2">
                        <strong>Integrity:</strong> Taking responsibility, staying true to my values. <br>
                        <strong>Openness:</strong> Embracing diverse disciplines, cultures, and criticism. <br>
                        <strong>Fantasy:</strong> Pushing boundaries to discover innovative solutions.
                    </p>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="call-to-action">
                                <a href="https://www.linkedin.com/in/{{ site.twitter_username }}-b25341208/">
                                    <i class="fa fa-4x fa-linkedin wow bounceIn text-primary"></i>
                                    <h3>LinkedIn</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="call-to-action">
                                <a href="https://github.com/Philipp-Alexander-Kreer/">
                                    <i class="fa fa-4x fa-github wow bounceIn text-primary"></i>
                                    <h3>GIT Projects</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>


            <!--            <p>-->
<!--                Joyful interdisciplinary researcher at the intersection of theoretical physics and AI alignment with-->
<!--                five first-author journal publications and multiple public talks.-->
<!--                I am convinced that only human-aligned AIs drive scientific progress and ensure the positive impact of AI on our lives.-->
<!--            </p>-->