<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="block-text">
                    <h2 class="section-heading">My Quest</h2>
                    <hr class="light">
                    <p class="text-faded">
                        I'm fascinated by the synergy between theoretical particle physics and the science of deep learning.
                        Understanding modern AI systems is the key to unlock the secrets of the universe and to create AI systems that are aligned with human values.
                        This dual role of AI — to advance scientific discovery and transform human society — drives my interdisciplinary research.
                    </p>
                    <a href="img/pdf_files/Research_Statement_Philipp_Kreer.pdf" class="btn btn-default btn-xl wow tada">Find out how!</a>
                </div>
            </div>
        </div>
    </div>
</section>
