<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Scientific Interests</h2>
                <hr class="light">
                <p class="text-faded">I am fascinated by the intersection between Quantum Field Theory (QFT), the framework of modern particle physics,
                    and robust and transparent AI systems.
                    The interaction between these two fields is mutually beneficial.
                    On one side, reliable AI systems can be used to make high precision predictions for experiments at the Large Hadron Collider at CERN.
                    On the other, the mathematical framework of Quantum Field Theory enables the systematic exploration of AI architectures
                    (e.g. neural networks, convolutional neural networks, or GPT-like transformer architectures).
                    The repository QFT_AI, see also Neural Networks and Quantum Field Theory, is an example of how these two fields are connected.

In combination with The Principles of Deep Learning Theory, I am investigating the possibility to approximate the function TTH, see One loop QCD corrections to gg→ttH at O(ε2), with a machine learning approach. A successful implementtation would faciliate precision predictions for a large range of experiments conducted at the Large Hadron Collider. The AI is sensitive to singular points and branch cuts (= jumps in the imaginary part) in the function TTH, which makes the training and feature engeneering challenging. However, these chritical regions have a clear physical interpreation and QFT allows a precise description of these regions, making this problem to an opportunity to develop robust AI systems.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
