<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="block-text">
                    <h2 class="section-heading">Scientific Interests</h2>
                    <hr class="light">
                    <p class="text-faded">
                        I'm fascinated by the synergy between Quantum Field Theory (QFT), the mathematical foundation of modern particle physics,
                        and transparent AI systems.
                        They mutually enhance each other.
                        Aligned AI systems have the potential to enable precise predictions for experiments at the Large Hadron Collider at CERN.
                        Meanwhile, QFT offers a structured approach to interpretable AI architectures such as neural networks and transformers.
                    </p>
                    <p class="text-faded">
                        Currently, I'm leveraging my Mathematica program TTH with AI for phenomenological applications. This demands understanding the experiment's physics and constructing robust AI systems. Specifically,
                        I'm investigating how <a href="https://arxiv.org/abs/2106.10165" class="external-link">The Principles of Deep Learning Theory</a>  can circumvent potential pitfalls stemming from
                        a lack of understanding of modern AI systems.
                    </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </div>
</section>
