It is a long dream of mine to explore Patagonia the Land of Fire and Ice.
I am fascinated by the idea of trekking through the Andes and the Patagonian steppe.
I am also interested in the history of the indigenous people and the European settlers.
I am planning to explore the region for three months  after I finished my PhD.

I found the Greater Patagonian Trail (GPT) which is a route system which connects Santiago de Chile with the southernmost point of South America, the Drake Passage.
In contrast to traditional long-distance trails, the GPT is not a fixed path. Instead, it is a network of trails, roads, cross-country routes, and other travel corridors.
Its main goal is to immerse the traveler in the diverse landscapes and cultures of Patagonia. Besides the natural spectacles like glaciers, volcanos, fjords, and the Patagonian steppe, the GPT also leads
through the indigenous territories of the Mapuche and the Selk'nam. Often one encounters arrierros, the Chilean cowboys, who are still herding cattle in the traditional way and the descendants of the European settlers.

It is path which connects Advanture, Culture, and Nature. But it is also one of the most challenging and remote trails in the world.

Therefore, it requires careful planning and preparation. I am currently in the process of gathering information and planning the trip.
I am learning spanish to communicate with the locals and I am also learning about the history and culture of the region by reading local litreature, listining to Chileanen radio, etc.
I am learning how to navigate in the wilderness using GPS systems and how to controll a packraft on fast flowing rivers. I test various outdoor equipment directly in the alps, etc.

I am looking for people who are interested in joining me on this adventure.

Preparing such an adventure is a challenge in itself. It requires careful planning and preparation. But this makes it so fascinating.
The moto and the logo are ready :)