<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Philipp Alexander Kreer</h1>
            <hr>
            <img src="img/front_picture.jpg" class="image-own" alt="This is me :)">
            <hr>
            <h3>Theoretical Physicist, Aspiring AI Scientist, and Adventurer</h3>
            <p>
                I am a theoretical particle physicist at the Technical University of Munich with interest in aligned and stable AI systems.
                I am absolving the third year of my PhD and expect to finish in September 2025. After finishing, I will
                embark on a journey on the Greater Patagonian Trail (GPT) for which I am preparing and training in my free time.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
