<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Philipp Alexander Kreer</h1>
            <hr>
            <img src="img/front_picture.jpg" class="image-own" alt="This is me :)">
            <hr>
            <h3>Theoretical Physicist, Science of Deep Learning Researcher, and Adventurer</h3>
            <p>
                PhD student exploring the intersection of theoretical particle physics the the science of deep learning
                to design human-aligned AI systems. After finishing my PhD in 2025, I will
                explore the Greater Patagonian Trail (GPT) for which I am preparing and training in my free time.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
