<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Philipp Alexander Kreer</h1>
            <hr>
            <img src="img/front_picture.jpg" class="image-own" alt="This is me :)">
            <hr>
            <h3>Theoretical Physicist, AI Enthusiast, and Adventurer</h3>
            <p>I am a theoretical particle physicist at the Technical University of Munich with interest in explainable and robust AI systems. I am in the third year of the PhD and expect to finish in September 2025.
                In my free time I'm preparing and training for the Greater Patagonian Trail.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
