<section id="physics">
    <div class="container">
        <div class="row">
            <!-- Image Column -->
            <div class="col-sm-12 col-md-6 col-lg-5">
                <a href="https://github.com/p-a-kreer/TTH" class="portfolio-box">
                    <img src="img/portfolio/fancy_pentagon.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                \( g\;g \to t\;\overline{t}\;H \)
                            </div>
                            <div class="project-name">
                                Automated One-Loop Amplitude Evaluation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Text Column -->
            <div class="col-sm-12 col-md-6 col-lg-7 text-center">
                <div class="block-text">

                    <h2 class="section-heading">What is the origin of mass?</h2>
                    <hr class="primary">
                    <p class="text-faded_2">
                        I explore the nature of mass through two perspectives: particle collisions and gravitational waves.
                        At CERN's Large Hadron Collider, we investigate how particles acquire mass through their interaction with the Higgs boson. Meanwhile, gravitational waves from black hole collisions provide insights into how mass behaves on cosmic scales.
                        By calculating Feynman diagrams, I predict the outcomes of these experiments, connecting discoveries from the smallest particles to the largest structures in the universe.
                    </p>


                    <div class="call-to-action">
<!--                                <a href="img/pdf_files/Publication_list.pdf">-->
                                <a href="https://github.com/Philipp-Alexander-Kreer/">
                                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                                    <h3>Publications</h3>
                                </a>
                            </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
