 <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>GIT Projects</h2>
             <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
          </div>
      </div>
  </aside>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/p-a-kreer/TTH" class="portfolio-box">
                    <img src="img/portfolio/Pentagon.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                \( g\;g \to t\;\overline{t}\;H \)
                            </div>
                            <div class="project-name">
                                Automated One-Loop Amplitude Evaluation
                            </div>
                        </div>
                    </div>
                </a>
            </div>



            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/p-a-kreer/arXiv_filter" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                arXiv Filter
                            </div>
                            <div class="project-name">
                                Get a grip on the daily arXiv submissions
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/p-a-kreer/QFT_AI" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                QFT-AI
                            </div>
                            <div class="project-name">
                                Explore the synergy between Quantum Field Theory and AI
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Test</h2>
             <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
          </div>
      </div>
  </aside>

 <section class="no-padding" id="portfolio2">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="test.html" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Read&Eat: Physics meets explainable AI
                            </div>
                            <div class="project-name">
                                Reading Group + Dinner Discussions
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                GPT: Greater Patagonian Trail
                            </div>
                            <div class="project-name">
                                From Santiago de Chile to the Drake Passage
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
 </section>

