

<section class="no-padding" id="portfolio">
     <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <a href="https://github.com/Philipp-Alexander-Kreer/">
              <i class="fa fa-4x fa-github wow bounceIn text-primary" data-wow-delay=".1s"></i>
              <h3>GIT Projects</h3>
              </a>
          </div>
      </div>
  </aside>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/p-a-kreer/TTH" class="portfolio-box">
                    <img src="img/portfolio/fancy_pentagon.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                \( g\;g \to t\;\overline{t}\;H \)
                            </div>
                            <div class="project-name">
                                Automated One-Loop Amplitude Evaluation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/p-a-kreer/arXiv_filter" class="portfolio-box">
                    <img src="img/portfolio/Funnel.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                arXiv Filter
                            </div>
                            <div class="project-name">
                                Get a grip on the daily arXiv submissions
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/camtice/SandbagDetect" class="portfolio-box">
                    <img src="img/portfolio/Project_Sandbag.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sandbag Detection through Noise-Injection
                            </div>
                            <div class="project-name">
                                Detect lying AI systems
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="read">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="block-text">
                    <h2 class="section-heading">Read&Eat: Physics meets explainable AI</h2>
                    <hr class="light">
                    <p class="text-faded">
                        Join our reading group and dinner discussions on topics at the intersection of theoretical physics and AI.
                        We meet every Thursday at 5pm in the kitchen of the
                        <a href="https://www.ph.tum.de/about/visit/roomfinder/?room=5101.01.342&language=de" class="external-link">
                        Theoretical Physics Department at TUM Campus in Garching </a>.
                        We read together a paper and discuss it over a delicious dinner.
                    </p>
                    <p class="text-faded">
                        Currently, we are reading the book "The Principles of Deep Learning Theory",
                        which is available <a href="https://arxiv.org/abs/2106.10165" class="external-link">here</a>. The book adopts the perspective of neural networks as a system of interacting particles.
                        Starting from this analogy, it is possible to derive a set of principles that govern the behavior of neural networks in the regime where the depth is small compared to the width.
                        For me personally, it is interesting to learn about the training dynamics of neural networks, e.g. under which conditions is the network able to learn?
                        How does the input data, especially special features such as singular points or branch cuts, influence the training dynamics? What does this mean for the interpretability of the network?
                    </p>
                <a href="#contact" class="btn btn-default btn-xl wow tada">Join us now!</a>
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="no-padding" id="GPT">
   <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <a href="https://www.wikiexplora.com/Greater_Patagonian_Trail">
                  <h2>GPT: Greater Patagonian Trail</h2>
              </a>
          </div>
      </div>

  </aside>

 <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#GPT2" class="portfolio-box">
                    <img src="img/Default_A_Patagonian_landscape_of_a_smoking_volcano_surrounded_0.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The Land of Fire and Ice
                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
               </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#GPT2" class="portfolio-box">
                    <img src="img/Fahne_SdC.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                My Motto Flag
                            </div>
                            <div class="project-name">
                                He knows the way. Job 23:10
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#GPT2" class="portfolio-box">
                    <img src="img/Default_The_fiery_sun_dips_below_the_horizon_casting_a_warm_gl_0.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sunset over the Drake Passage
                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
 </section>
<section class="bg-primary" id="GPT2">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="block-text">
                    <h2 class="section-heading">Patagonia: The Land of Fire and Ice</h2>
                    <hr class="light">
                    <p class="text-faded">
                        After finishing my PhD, in September 2025, I'm planning to explore Patagonia's wilderness on the
                         <a href="https://www.wikiexplora.com/Greater_Patagonian_Trail" class="external-link">The Greater Patagonian Trail (GPT)</a>. This path network links Santiago de Chile
                        to the Drake Passage, the southernmost tip of South America. Its remote trail offers a diverse
                        landscape of glaciers, volcanoes, steppes, rainforests, and fjords, along with encounters with indigenous
                        Mapuche communities, Chilean cowboys known as arrierros, and resilient hermits.
                    </p>
                    <p class="text-faded">
                        The GPT intertwines Adventure, Culture, and Nature, offering an unparalleled journey.
                        However, its unpredictable nature demands meticulous preparation.
                        Presently, I'm immersing myself in local Radio channels and Chilean literature to improve my Spanish
                        skills and learn about the local culture.
                        I'm also testing my equipment, such as GPS systems, in the alps and train myself in new skills
                        like pack rafting.
                    </p>
                    <p>
                        Are you seeking an adventure companion?
                    </p>
                <a href="#contact" class="btn btn-default btn-xl wow tada">Join now!</a>
                </div>
            </div>
        </div>
    </div>
</section>