

<section class="no-padding" id="portfolio">
     <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <!--<h2></h2>-->
              <a href="https://github.com/p-a-kreer/">
              <i class="fa fa-4x fa-github wow bounceIn text-primary" data-wow-delay=".1s"></i>
              <h3>GIT Projects</h3>
              </a>
            <!-- <a href="https://github.com/p-a-kreer/" class="btn btn-default btn-xl wow tada">GIT Projects</a> -->
          </div>
      </div>
  </aside>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/p-a-kreer/TTH" class="portfolio-box">
                    <img src="img/portfolio/Pentagon.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                \( g\;g \to t\;\overline{t}\;H \)
                            </div>
                            <div class="project-name">
                                Automated One-Loop Amplitude Evaluation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/p-a-kreer/arXiv_filter" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                arXiv Filter
                            </div>
                            <div class="project-name">
                                Get a grip on the daily arXiv submissions
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/p-a-kreer/QFT_AI" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                QFT-AI
                            </div>
                            <div class="project-name">
                                Explore the synergy between Quantum Field Theory and AI
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<section class="bg-primary" id="read">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="block-text">
                    <h2 class="section-heading">Read&Eat: Physics meets explainable AI</h2>
                    <hr class="light">
                    <p class="text-faded">
                        Join our reading group and dinner discussions on topics at the intersection of theoretical physics and AI.
                        We meet every Thursday at 5pm in the kitchen of the Theoretical Physics Department at TUM Campus in Garching.
                        We read together a paper and discuss it over a delicious dinner.
                    </p>
                    <p class="text-faded">
                        Currently, we are reading the book "The Principles of Deep Learning Theory",
                        which is available at <a href="https://arxiv.org/abs/2106.10165" class="external-link">arXiv</a>. The book adopts the perspective of neural networks as a system of interacting particles.
                        Starting from this analogy, it is possible to derive a set of principles that govern the behavior of neural networks in the regime where the depth is small compared to the width.
                        For me personally, it is interesting to learn about the training dynamics of neural networks, e.g. under which conditions is the network able to learn?
                        How does the input data, especially special features such as singular points or branch cuts, influence the training dynamics? What does this mean for the interpretability of the network?
                    </p>
                <a href="#contact" class="btn btn-default btn-xl wow tada">Join us now!</a>
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="no-padding" id="GPT">
   <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>GPT: Greater Patagonian Trail</h2>
          </div>
      </div>

  </aside>

 <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/p-a-kreer/TTH" class="portfolio-box">
                    <img src="img/portfolio/Pentagon.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                \( g\;g \to t\;\overline{t}\;H \)
                            </div>
                            <div class="project-name">
                                Automated One-Loop Amplitude Evaluation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.wikiexplora.com/Greater_Patagonian_Trail" class="portfolio-box">
                    <img src="img/Fahne_SdC_final.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                My Motto Flag
                            </div>
                            <div class="project-name">
                                He knows the way.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/p-a-kreer/QFT_AI" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                QFT-AI
                            </div>
                            <div class="project-name">
                                Explore the synergy between Quantum Field Theory and AI
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>